:root {
   --profile-container-height: 13rem;
}

html, body {
   background-image: linear-gradient(to bottom, rgb(120, 214, 240), rgb(56, 56, 170));
   font-family: 'Source Sans Pro', sans-serif;
   height: 100vh;
   overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
   text-align: center;
}

/* containers */

div.App {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

div#footer {
   text-align: left;
   bottom: 0px;
   padding: 2rem 1rem;
   position: absolute;
   width: calc(100% - 2 * (1.5rem * .5));
}

div.container {
   text-align: center;
}

nav.navbar {
   align-items: center;
   display: flex;
   height: 5rem;
}

div.card {
   max-width: 300px;
   padding: 0.5rem;
   width: 100%;
}

div.page-content {
   background-color: #d9e3e7;
   border-radius: 1rem;
   height: 100%;
   overflow: hidden;
   padding: 1rem;
}

div#main-content {
   display: flexbox;
   height: 100%;
   position: relative;
}

div#owner-profile {
   display: inline-block;
   text-align: left;
}

div#owner-summary, #pet-summary {
   height: 100%;
   overflow: hidden;
}

/* div#owner-profile-container, #pet-profile-container {
   height: var(--profile-container-height);
   min-height: 'auto';
} */

div#owner-summary #pets-list-container {
   align-items: top;
   max-height: calc(100% - 13rem);
   overflow: scroll;
}

div#page-container {
   height: calc(100% - 5rem);
   overflow: hidden;
   padding: 1rem 0rem;
}

div#pets-list,
div#owners-list,
div#visits-list {
   /* static values */
   --grid-column-count: 4;
   --grid-layout-gap: 1rem;
   --grid-item--min-width: 250px;
   /* calculated values */
   --gap-count: calc(var(--grid-column-count) - 1);
   --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
   --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
   /* css */
   align-items: start;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
   grid-gap: var(--grid-layout-gap);
   height: 100%;
   justify-items: center;
   overflow: scroll;
}

div#pets-list-container {
   height: calc(100% - 2rem - 1rem);
}

/* pet summary page */

div#pet-summary {
   /* css */
   align-items: start;
   display: grid;
   grid-gap: 1rem;
   grid-template-areas:
      "head head"
      "info visits";
   grid-template-columns: minmax(350px, 25%) auto;
   grid-template-rows: min-content auto;
   height: 100%;
   justify-items: center;
   position: relative;
   overflow: scroll;
}

div#pet-profile-container {
   grid-area: head;
   width: 100%;
}

div#pet-summary #owners-list-container {
   grid-area: info;
   width: 100%;
}

div#pet-summary #visits-list-container {
   grid-area: visits;
   width: 100%;
}

div#pet-summary button {
   position: absolute;
   top: 0px;
   right: 0px;
}

/* forms */

form {
   display: grid;
   margin: auto;
   position: relative;
   text-align: left;
}

form.login {
   min-width: 350px;
   width: 40vw;
}

form > * {
   margin: 0.5rem 1rem;
}

form > div > input.form-control,
.form-floating > select.form-select,
.form-floating > select.form-select option {
   width: 100%;
}

/* buttons */

button, .button {
   background-color: rgb(178, 178, 178);
   border: none;
   border-radius: 0.5rem;
   display: inline-block;
   margin: 0.5rem;
   padding: 0.5rem 1rem;
}

button:hover, .button:hover {
   background-color: #485ebb;
   color: rgb(216, 216, 216);
}

form > button {
   width: 70%;
   margin: 1rem auto;
}

.dropdown-button {
   border-radius: 0.2rem;
}

.dropdown-button:hover {
   background-color: aqua;
}

/* dropdowns */

.dropdown {
   position: relative;
}

.dropdown-content {
   background-color: rgb(178, 178, 178);
   display: none;
   max-height: 500px;
   overflow: auto;
   padding: 0.2rem;
   position: absolute;
   width: 100%;
   z-index: 1;
}

.dropdown-content > div:hover {
   background-color: rgb(155, 155, 155);
   font-weight: bold;
}

.show {
   display: block;
}

/* headers & fonts */

h1.logo {
   color: rgb(236, 206, 35);
   font-size: 4rem;
}